{% extends "base.html" %} {% block title %}Advance Search{% endblock %} {% block content
%}
<br/>
<h1 align="center">Admin's Super Search Posts</h1>
<br/>
<form class="d-flex" method="GET">
        <input class="form-control me-2" type="search" placeholder="Unit" name="a">
        <input class="form-control me-2" type="search" placeholder="School" name="b">
        <input class="form-control me-2" type="search" placeholder="Course Code" name="c">
        <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br/>
<div id = "posts">
    <br/>
    {%for post in posts%}
    <div class="shadow lg-3 mb-5 bg-body rounded">
    <div class = "card border-dark">
        <div
        class = "card-header d-flex justify-content-between align-items-center"
        >
            <a href = "/posts/{{post.user.username}}">{{post.user.username}}</a>
            <a>School: {{post.school}}</a>
            <a>Course Code: {{post.Course}}</a>
          <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
             </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="/delete-post/{{post.id}}">Delete</a></li>
                  <li><a class="dropdown-item" href="/Admin-delete/{{post.author}}">Band User</a></li>
                  <li><a class="dropdown-item" href="/Admin-undelete/{{post.author}}">Unband User</a></li>
              </ul>

            </div>
        </div>
        <div class="card-body">
            <div class="card-text">{{post.text}}
            </div>
            <div class="card-text"><a href = "/IMG/{{post.imgid}}">click here</a>
            </div>
            <div class = "card-footer text-muted">
                {{post.date_created}}
            </div>
        </div>
    </div>
    </div>
    <br/>
    {% endfor %}
</div>

{% endblock %}
